name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
          
          if [ -f requirements.txt ]; then 
            pip install -r requirements.txt
          else
            find . -name "requirements.txt" -exec pip install -r {} +
          fi
          
          pip install pytest httpx fastapi python-multipart pillow

      - name: Debug Folder Structure
        run: |
          echo "Current directory: $(pwd)"
          ls -R

      - name: Run Integration Tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)/src
          pytest tests/
